@font-face {
  font-family: 'Ready Script';
  font-weight: 300;
  src: url("../type/ReadyScript-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Light.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Light.woff2") format("woff2"), url("../type/ReadyScript-Light.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 400;
  src: url("../type/ReadyScript-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Regular.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Regular.woff2") format("woff2"), url("../type/ReadyScript-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 500;
  src: url("../type/ReadyScript-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Medium.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Medium.woff2") format("woff2"), url("../type/ReadyScript-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 600;
  src: url("../type/ReadyScript-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Semibold.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Semibold.woff2") format("woff2"), url("../type/ReadyScript-Semibold.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 700;
  src: url("../type/ReadyScript-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Bold.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Bold.woff2") format("woff2"), url("../type/ReadyScript-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 700;
  src: url("../type/ReadyScript-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-ExtraBold.woff2") format("woff2"), url("../type/ReadyScript-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Ready Script';
  font-weight: 900;
  src: url("../type/ReadyScript-Black.eot");
  /* IE9 Compat Modes */
  src: url("../type/ReadyScript-Black.eot?#iefix") format("embedded-opentype"), url("../type/ReadyScript-Black.woff2") format("woff2"), url("../type/ReadyScript-Black.woff") format("woff"); }
