/* CSS for Bruphy generated 2019-06-10 */
/* CSS Generator made by Kyle Wayne Benson */
@font-face {
	font-family: 'Bruphy';
	font-weight: 700;
	src: url('../type/bruphy/Bruphy-Bold.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-Bold.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Bruphy';
	font-weight: 300;
	src: url('../type/bruphy/Bruphy-Light.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-Light.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-Light.woff') format('woff');
}
@font-face {
	font-family: 'Bruphy';
	font-weight: 500;
	src: url('../type/bruphy/Bruphy-Medium.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-Medium.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Bruphy';
	font-weight: 400;
	src: url('../type/bruphy/Bruphy-Regular.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-Regular.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Bruphy';
	font-weight: 600;
	src: url('../type/bruphy/Bruphy-SemiBold.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-SemiBold.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Bruphy';
	font-weight: 100;
	src: url('../type/bruphy/Bruphy-Thin.eot'); /* IE9 */
	src: url('../type/bruphy/Bruphy-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../type/bruphy/Bruphy-Thin.woff2') format('woff2'),
		url('../type/bruphy/Bruphy-Thin.woff') format('woff');
}
