@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 100;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Thin.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-Thin.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 200;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-ExtraLight.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-ExtraLight.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 300;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-Light.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-Light.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 400;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-Regular.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 500;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-Medium.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 600;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-SemiBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 700;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-Bold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 800;
  src: url("../type/cardinal-grotesque/CardinalGrotesque-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesque-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesque-ExtraBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesque-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 100;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Thin.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 200;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraLight.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraLight.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 300;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Light.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Light.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 400;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Regular.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 500;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Medium.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 600;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-SemiBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 700;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Bold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 800;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCondensed-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 100;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Thin.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 200;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraLight.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraLight.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 300;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Light.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Light.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 400;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Regular.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 500;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Medium.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 600;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 700;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Bold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque ExtraCondensed';
  font-weight: 800;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 100;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Thin.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Thin.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 200;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraLight.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraLight.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 300;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Light.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Light.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Light.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 400;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Regular.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Regular.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 500;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Medium.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Medium.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 600;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-SemiBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 700;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Bold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Bold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Compressed';
  font-weight: 800;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueCompressed-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 100;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Thin.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Thin.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Thin.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 200;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraLight.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraLight.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 300;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Light.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Light.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Light.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Light.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 400;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Regular.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Regular.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 500;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Medium.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Medium.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 600;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-SemiBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 700;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 800;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraBold.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-ExtraBold.woff") format("woff"); }
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 900;
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Black.eot");
  /* IE9 Compat Modes */
  src: url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Black.eot?#iefix") format("embedded-opentype"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Black.woff2") format("woff2"), url("../type/cardinal-grotesque/CardinalGrotesqueExpanded-Black.woff") format("woff"); }
