@font-face {
  font-family: 'Business Script';
  font-weight: 300;
  font-feature-settings: "liga" 1;
  src: url('./type/business-script/BusinessScript-Regular.eot'); /* IE9 Compat Modes */
  src: url('./type/business-script/BusinessScript-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/business-script/BusinessScript-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/business-script/BusinessScript-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 300;
  src: url('./type/cornbread/Cornbread-Regular.eot'); /* IE9 Compat Modes */
  src: url('./type/cornbread/Cornbread-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cornbread/Cornbread-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cornbread/Cornbread-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 400;
  src: url('./type/cardinal-grotesque/CardinalGrotesque-Medium.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesque-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesque-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesque-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 500;
  src: url('./type/cardinal-grotesque/CardinalGrotesque-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesque-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesque-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesque-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 600;
  src: url('./type/cardinal-grotesque/CardinalGrotesque-Bold.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesque-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesque-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesque-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Very Cool Icons';
  src: url('./type/verycoolicons-Regular.eot'); /* IE9 Compat Modes */
  src: url('./type/verycoolicons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/verycoolicons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/verycoolicons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 600;
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesqueExtraCondensed-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 500;
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Semibold.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Expanded';
  font-weight: 600;
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.eot'); /* IE9 Compat Modes */
  src: url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./type/cardinal-grotesque/CardinalGrotesqueExpanded-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
.icon:before {
    display: inline-block;
    font-family: 'Very Cool Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 2.6em;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-2x:before {
  font-size: 4em;
}
.icon-3x:before {
  font-size: 4.4em; 
}
.icon-4x:before {
  font-size: 5em; 
}
.icon-5x:before {
  font-size: 6em;
}
.icon-logo:before {
  content: "\E001";
}
.icon-squiggle:before {
  content: "\E002";
}
.icon-burger:before {
  content: "\E003";
}
.icon-pizza:before {
  content: "\E005";
}
.icon-arrow-head:before {
  content: "\E006";
}
.icon-arrow-back:before {
  content: "\E007";
}
.icon-shopping-cart:before {
  content: "\E009";
}
.icon-corner-left:before {
  content: "\E008";
}
.icon-corner-right:before {
  content: "\E008";
  transform: scale(-1, 1);
}

$type-text: "Cornbread";
$type-headline: "Cornbread";
$type-headline-cond: "Cardinal Grotesque Cond";
$type-subhead: "Cardinal Grotesque";
$type-subhead-expanded: "Cardinal Grotesque Expanded";
$type-script-subhead: "Business Script";

body {
  color: $color__text-main;
  font-weight: 300;
  font-family: $type-text;
  @include font-size(1);
  line-height: 1.6;
}

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@import "headings";

@import "copy";