@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 100;
  src: url('../type/CardinalGrotesque-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 200;
  src: url('../type/CardinalGrotesque-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 300;
  src: url('../type/CardinalGrotesque-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 500;
  src: url('../type/CardinalGrotesque-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 600;
  src: url('../type/CardinalGrotesque-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque';
  font-weight: 700;
  src: url('../type/CardinalGrotesque-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 100;
  src: url('../type/CardinalGrotesque-ExtraLightCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-ExtraLightCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-ExtraLightCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-ExtraLightCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 200;
  src: url('../type/CardinalGrotesque-LightCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-LightCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-LightCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-LightCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 300;
  src: url('../type/CardinalGrotesque-RegularCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-RegularCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-RegularCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-RegularCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 500;
  src: url('../type/CardinalGrotesque-SemiBoldCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-SemiBoldCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-SemiBoldCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-SemiBoldCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 600;
  src: url('../type/CardinalGrotesque-BoldCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-BoldCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-BoldCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-BoldCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cardinal Grotesque Cond';
  font-weight: 700;
  src: url('../type/CardinalGrotesque-ExtraBoldCondensed.eot'); /* IE9 Compat Modes */
  src: url('../type/CardinalGrotesque-ExtraBoldCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/CardinalGrotesque-ExtraBoldCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/CardinalGrotesque-ExtraBoldCondensed.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 300;
  src: url('../type/Cornbread-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/Cornbread-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/Cornbread-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/Cornbread-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 500;
  src: url('../type/Cornbread-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/Cornbread-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/Cornbread-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/Cornbread-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 600;
  src: url('../type/Cornbread-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/Cornbread-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/Cornbread-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/Cornbread-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 200;
  src: url('../type/KansasCasual-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 300;
  src: url('../type/KansasCasual-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 400;
  src: url('../type/KansasCasual-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 500;
  src: url('../type/KansasCasual-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 600;
  src: url('../type/KansasCasual-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Kansas Casual';
  font-weight: 900;
  src: url('../type/KansasCasual-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/KansasCasual-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/KansasCasual-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/KansasCasual-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 300;
  src: url('../type/ReadyScript-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 400;
  src: url('../type/ReadyScript-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 500;
  src: url('../type/ReadyScript-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 600;
  src: url('../type/ReadyScript-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 700;
  src: url('../type/ReadyScript-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 700;
  src: url('../type/ReadyScript-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Ready Script';
  font-weight: 900;
  src: url('../type/ReadyScript-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/ReadyScript-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/ReadyScript-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/ReadyScript-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
