@font-face {
  font-family: 'Maritime Champion';
  font-weight: 300;
  src: url('../type/maritime-champion/MaritimeChampion-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 400;
  src: url('../type/maritime-champion/MaritimeChampion-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 500;
  src: url('../type/maritime-champion/MaritimeChampion-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 600;
  src: url('../type/maritime-champion/MaritimeChampion-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 700;
  src: url('../type/maritime-champion/MaritimeChampion-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 900;
  src: url('../type/maritime-champion/MaritimeChampion-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampion-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampion-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampion-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 300;
  src: url('../type/maritime-champion/MaritimeChampionSL-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionSL-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionSL-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionSL-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 400;
  src: url('../type/maritime-champion/MaritimeChampionSL-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionSL-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionSL-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionSL-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 500;
  src: url('../type/maritime-champion/MaritimeChampionSL-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionSL-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionSL-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionSL-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 700;
  src: url('../type/maritime-champion/MaritimeChampionSL-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionSL-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionSL-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionSL-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 300;
  src: url('../type/maritime-champion/MaritimeChampionST-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 400;
  src: url('../type/maritime-champion/MaritimeChampionST-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 500;
  src: url('../type/maritime-champion/MaritimeChampionST-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 600;
  src: url('../type/maritime-champion/MaritimeChampionST-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 700;
  src: url('../type/maritime-champion/MaritimeChampionST-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 900;
  src: url('../type/maritime-champion/MaritimeChampionST-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/maritime-champion/MaritimeChampionST-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/maritime-champion/MaritimeChampionST-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/maritime-champion/MaritimeChampionST-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
