@font-face {
  font-family: 'Cornbread';
  font-weight: 300;
  src: url('../type/cornbread/Cornbread-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/cornbread/Cornbread-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/cornbread/Cornbread-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/cornbread/Cornbread-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 500;
  src: url('../type/cornbread/Cornbread-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/cornbread/Cornbread-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/cornbread/Cornbread-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/cornbread/Cornbread-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 600;
  src: url('../type/cornbread/Cornbread-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/cornbread/Cornbread-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/cornbread/Cornbread-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/cornbread/Cornbread-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Cornbread';
  font-weight: 900;
  src: url('../type/cornbread/Cornbread-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/cornbread/Cornbread-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/cornbread/Cornbread-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/cornbread/Cornbread-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
