@font-face {
  font-family: 'Maritime Champion';
  font-weight: 200;
  src: url('../type/MaritimeChampion-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 300;
  src: url('../type/MaritimeChampion-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 500;
  src: url('../type/MaritimeChampion-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 600;
  src: url('../type/MaritimeChampion-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion';
  font-weight: 900;
  src: url('../type/MaritimeChampion-Black.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-Black.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 200;
  src: url('../type/MaritimeChampionSL-Light.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampionSL-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampionSL-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampionSL-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 300;
  src: url('../type/MaritimeChampionSL-Regular.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampionSL-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampionSL-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampionSL-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 400;
  src: url('../type/MaritimeChampionSL-Medium.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampionSL-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampionSL-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampionSL-Medium.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion SL';
  font-weight: 600;
  src: url('../type/MaritimeChampionSL-Bold.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampionSL-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampionSL-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampionSL-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 200;
  src: url('../type/MaritimeChampion-LightST.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-LightST.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-LightST.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-LightST.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 300;
  src: url('../type/MaritimeChampion-RegularST.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-RegularST.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-RegularST.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-RegularST.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 400;
  src: url('../type/MaritimeChampion-MediumST.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-MediumST.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-MediumST.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-MediumST.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'Maritime Champion ST';
  font-weight: 600;
  src: url('../type/MaritimeChampion-BoldST.eot'); /* IE9 Compat Modes */
  src: url('../type/MaritimeChampion-BoldST.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../type/MaritimeChampion-BoldST.woff2') format('woff2'), /* Super Modern Browsers */
       url('../type/MaritimeChampion-BoldST.woff') format('woff'), /* Pretty Modern Browsers */
}
