ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
.list-box {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	font-family: $type-subhead;
	font-weight: 300;
	font-size: 1.6em;
	letter-spacing: .02em;
	li {
		a {
			text-decoration: none;
			line-height: 1;
		}
		padding: 3px 19px 8px 19px;
		.year {
			float: right;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .17em;
			padding-top: 10px;
			font-size: .5em;
		}
		&:nth-of-type(odd) {
			background: $white;
		}
	}
}