ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	&.list-alphabetized {
		list-style: none;
		margin: 0px 0px 0px 24px;
		padding-left: 0px;
		li {
			&:nth-of-type(1):before { content: "a." }
			&:nth-of-type(2):before { content: "b." }
			&:nth-of-type(3):before { content: "c." }
			&:nth-of-type(4):before { content: "d." }
			&:nth-of-type(5):before { content: "e." }
			position: relative;
			margin-bottom: 10px;
			&:before {
				color: $gray-2;
				display: block;
				position: absolute;
				left: -24px;
				top: 0px;
			}
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
.list-box {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	font-family: $type-subhead;
	font-weight: 300;
	font-size: 1.6em;
	letter-spacing: .02em;
	li {
		a {
			text-decoration: none;
			line-height: 1;
		}
		padding: 3px 19px 8px 19px;
		.year {
			float: right;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .17em;
			padding-top: 10px;
			font-size: .5em;
		}
	}
}
.gray-page {
	li {
		&:nth-of-type(odd) {
			background: $white;
		}
	}
}
.yellow-page {
	.list-box {
		li {
			border-bottom: 3px solid $black;
			&:last-of-type {
				border-bottom: 0px;
			}
		}
	}
}