table {
	margin: 0 0 1.5em;
	width: 100%;
}
table.list-box {
	box-sizing: border-box;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	font-family: $type-subhead;
	font-weight: 300;
	font-size: 1.6em;
	letter-spacing: .02em;
	@media (max-width: 500px) {
		font-size: 1.2em;
		line-height: 1.2;
		th.product-quantity {
			font-size: 0px;
			color: $white;
		}
		.product-quantity, .product-remove {
			max-width: 30px;
		}

	}
	@media (max-width: 768px) {
		.product-price {
			display: none;
		}
		thead 	th {
			padding: 5px 0px 0px 0px;
		}
		tr {
			td {
				padding: 5px 0px;
				border-bottom: 3px solid $gray-1;
			}
		}
	}
	@media (min-width: 769px) {
		border: 3px solid $black;
		border-collapse: separate;
		thead 	th {
			padding: 7px 20px 0px 20px;
		}
		tr {
			td {
				padding: 5px 20px;
			}
			&:nth-of-type(even) {
				background: $gray-1;
			}
		}
	}
	thead {
		font-size: 16px;
		text-align: left;
	}
	tr {
		img {
			max-height: 30px;
			width: auto;
		}
		a {
			text-decoration: none;
			line-height: 1;
		}
		td.product-price, td.product-quantity, td.product-quantity input {
			font-family: $type-script-subhead;
			font-weight: 300;
			font-size: 0.7em;
			input {
				border: 0px;
				width: 50px;
			}
		}
		.product-subtotal {
			text-align: right;
		}
	}
}