table {
	margin: 0 0 1.5em;
	width: 100%;
	font-family: $type-subhead;
	font-weight: 300;
	letter-spacing: .02em;
	caption {
		background: $black;
		color: $white;
		text-transform: uppercase;
		text-align: left;
		padding: 5px 10px;
	}
	th {
		text-transform: uppercase;
		font-family: $type-subhead-expanded;
		letter-spacing: .1em;
		text-align: left;
		font-weight: 500;
	}
	@media (max-width: 500px) {
		line-height: 1.2;
	}
	@media (max-width: 768px) {
		thead 	th {
			padding: 5px 0px 0px 0px;
		}
		tr td, caption {
			padding: 5px 0px;
			border-bottom: 3px solid $gray-1;
		}

		caption {
			padding: 5px 10px;
		}
	}
}
table.vartable {
	tr {
		text-align: left;
		td.pricecol {
			font-family: $type-script-subhead;
		}
		td {
			input.qty {
				max-width: 45px;
			}
			&.optionscol {
				font-size: 1.6em;
			}
			&.cartcol {
				text-align: right;
				max-width: 70px;
			}
			&.qtycol {
				input {
					border: 3px solid $gray-1;
					color: darken($gray-1, 8%);
				}
			}
		}
		td[data-sort-value="Complete Family"], td[data-sort-value="Complete Family"] + td {
			color: $yellow;
		}
		td[data-sort-value="Complete Family"] + td + td + td button {
			background:
				linear-gradient(135deg, transparent 5px, $yellow 0) top left,
				linear-gradient(225deg, transparent 5px, $yellow 0) top right,
				linear-gradient(315deg, transparent 5px, $yellow 0) bottom right,
				linear-gradient(45deg,  transparent 5px, $yellow 0) bottom left;
			background-size: 52% 52%;
			background-repeat: no-repeat;
			&:hover {
			background:
				linear-gradient(135deg, transparent 5px, lighten($yellow,5%) 0) top left,
				linear-gradient(225deg, transparent 5px, lighten($yellow,5%) 0) top right,
				linear-gradient(315deg, transparent 5px, lighten($yellow,5%) 0) bottom right,
				linear-gradient(45deg,  transparent 5px, lighten($yellow,5%) 0) bottom left;
				background-size: 52% 52%;
				background-repeat: no-repeat;
			}
			&:active {
			background:
				linear-gradient(135deg, transparent 5px, darken($yellow,5%) 0) top left,
				linear-gradient(225deg, transparent 5px, darken($yellow,5%) 0) top right,
				linear-gradient(315deg, transparent 5px, darken($yellow,5%) 0) bottom right,
				linear-gradient(45deg,  transparent 5px, darken($yellow,5%) 0) bottom left;
				background-size: 52% 52%;
				background-repeat: no-repeat;
			}
			&:visited {
				color: $black;
			}
		}
	}

}
table.list-box {
	box-sizing: border-box;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	@media (max-width: 500px) {
		th.product-quantity {
			font-size: 0px;
			color: $white;
		}
		.product-quantity, .product-remove {
			max-width: 30px;
		}
	}
	@media (max-width: 768px) {
		.product-price {
			display: none;
		}
	}
	@media (min-width: 769px) {
		border: 3px solid $black;
		border-collapse: separate;
		thead 	th {
			padding: 7px 20px 0px 20px;
		}
		tr {
			td {
				padding: 5px 20px;
				td.product-name {
					padding-right: 0px;
					min-width: 330px;
				}
				td.product-quantity {
					max-width: 90px;
					padding-right: 0px !important;
					padding-left: 0px !important;
				}
			}
		}
		tfoot {
			th {
				padding: 0px 20px;
			}
		}
		tbody {
			tr {
				&:nth-of-type(even) {
					background: $gray-1;
				}
				&:last-of-type {
					background: $white;
				}
			}
		}
	}
	thead {
		text-transform: uppercase;
		font-family: $type-subhead-expanded;
		letter-spacing: .1em;
		text-align: left;
		font-weight: 500;
		font-size: 13px;
		.product-quantity {
			padding-right: 0px !important;
			padding-left: 0px !important;
		}
		.product-name {
			padding-right: 0px;
			min-width: 330px;
		}
	}
	tr {
		img {
			max-height: 30px;
			width: auto;
		}
		a {
			text-decoration: none;
			line-height: 1;
		}
		td {
			vertical-align: bottom;
			dl.variation {
				display: inline;
				margin: 0px;
				dt, dd {
					font-family: $type-subhead-expanded;
					font-size: 11px;
					text-transform: uppercase;
					font-weight: 600;
					display: inline;
					margin: 0px;
				}
				dt {
					color: $gray-2;
					display: none;
				}
				dd p {
					display: inline;
				}
			}
		}
		td.product-name {
			padding-right: 0px;
			min-width: 160px;
		}
		td.product-quantity, &.product-quantity {
			max-width: 90px;
			padding-right: 0px;
			.quantity input {
				max-width: 50px;
			}
		}
		td.product-price {
			font-family: $type-script-subhead;
			font-size: .6em;
		}
		td.product-quantity, td.product-quantity input {
			font-weight: 300;
			input {
				border: 0px;
				width: 50px;
			}
		}
		.product-subtotal {
			text-align: right;
			font-weight: 500;
		}
	}
}