.main-navigation {
	@media screen and (max-width: 699px) {
		width: 100%;
	}

	ul {
		@media screen and (max-width: 699px) {
			display: none;
			}
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-top: -9px;
		margin-bottom: 5px;
	}
	
	li {
		@media screen and (max-width: 699px) {
			width: 100%;
			display: block;
			float: left;
			}
		@media screen and (min-width: 700px) {
			float: right;
			position: relative;
			padding-left: 30px;
		}
		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: inline-block;
		text-decoration: none;
		font-family: $type-subhead;
		font-weight: 300;
		font-size: 1.6em;
		line-height: 1;
		padding-bottom: 10px;
		letter-spacing: .02em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $gray-1;
		cursor: default;
	}
}

/* Small menu. */
.main-navigation {
	button.menu-toggle {

	float: right;
	font-family: 'Very Cool Icons';
	font-style: normal;
	font-weight: 400;
	background: transparent;
	border: 0px;
	font-size: 3em;
	line-height: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	&.toggled {
		ul {
			display: block;
		}
		button.menu-toggle {
			display: block;
		}
	}
}
.site-branding, .site-title {
	display: block;
	float: left;
	}

@media screen and (min-width: 700px) {
	.site-branding, .site-title {
		font-size: 1.02em;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		float: right;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

}
