.keyboard-navigation {
	@media screen and (max-width: 1539px) {
		display: none;
	}
	@media screen and (min-width: 1540px) { 
	.key {
		display: block;
		position: fixed;
		top: 50%;
		margin-top: -50px;
		border: 3px solid $gray-2;
		line-height: 48px;
		width: 54px;
		height: 54px;
		text-align: center;
		color: $gray-2;
		border-radius: 4px;
		user-select: none;
		cursor: default;
		&.key-left {
			left: 15px;
			&:hover {
				&:after {
					text-align: left;
					left: 66px;
					padding-top: 5px;
					content: "Use keyboard to navigate.";
					position: absolute;
					width: 110px;
					color: darken($gray-2,2%);
					letter-spacing: .03em;
					font-weight: 600;
					font-family: $type-subhead-expanded;
					line-height: 1.2;
				}
			}
		}
		&.key-right {
			right: 15px;
			&:hover {
				&:after {
					text-align: right;
					right: 66px;
					padding-top: 5px;
					content: "Use keyboard to navigate.";
					position: absolute;
					width: 110px;
					color: darken($gray-2,2%);
					letter-spacing: .03em;
					font-weight: 600;
					font-family: $type-subhead-expanded;
					line-height: 1.2;
				}
			}
		}
	}
	}
}

.main-navigation {
	@media screen and (max-width: 699px) {
		width: 100%;
	}

	ul {
		@media screen and (max-width: 699px) {
			display: none;
			}
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-top: -9px;
		margin-bottom: 5px;
	}
	
	li {
		@media screen and (max-width: 699px) {
			width: 100%;
			display: block;
			text-align: left;
			float: left;
			padding-top: 4px;
			&.menu-item {
				border-bottom: 3px solid $gray-1;
				&:nth-of-type(1) {
					margin-top: 14px;
				}
				&:nth-of-type(3) {
					border-bottom: 0px;
				}
			}
			&.right {
				border-bottom: 0px;
				border-top: 3px solid $gray-1;
				a {
					display: inline-block;
					width: 100%;
					padding-bottom: 5px;
				}
			}
		}
		@media screen and (min-width: 700px) {
			float: left;
			position: relative;
			padding-left: 30px;
			a {
				padding-top: 5px;
				padding-bottom: 0px;
			}
		}
		&:hover > a,
		&.focus > a {
		}
		&.right {
			.wcmenucart-contents {
				position: relative;
				.icon-shopping-cart:before {
					font-size: 25px;
				}
				.amount {
					@media screen and (min-width: 700px) {
						color: $gray-2;
						position: absolute;
						right: 0px;
						bottom: -17px;
					}
					font-size: .5em;
					font-family: $type-script-subhead;
					font-weight: 300;
				}
			}
		}
	}
	
	a {
		display: inline-block;
		text-decoration: none;
		font-family: $type-subhead;
		font-weight: 600;
		font-size: 1.6em;
		line-height: 1;
		padding-bottom: 10px;
		letter-spacing: .02em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: darken($gray-1,8%);
		cursor: default;
	}
}

/* Small menu. */
.main-navigation {
	position: relative;
	button.menu-toggle {
		position: absolute;
		right: -10px;
		top: -14px;
		font-family: 'Very Cool Icons';
		font-style: normal;
		font-weight: 400;
		background: transparent;
		border: 3px solid transparent;
		font-size: 56px;
		line-height: 0px;
		height: 50px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&.toggled {
		ul {
			display: block;
		}
		button.menu-toggle {
			top: -10px;
		}
	}
}
.site-branding, .site-title {
	display: block;
	float: left;
	}

@media screen and (min-width: 700px) {
	.site-branding, .site-title {
		font-size: 1.02em;
	}
	.menu-toggle {
		display: none !important;
	}
	.main-navigation ul {
		display: block;
		float: right;
	}
}
@media (max-width: 699px) {

}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

}
